<header class="banner">
  <div class="title">Pakistan Best New Place</div>
  <div class="content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam commodi
    eligendi fuga dignissimos, enim quia qui ipsum non? Consequatur, voluptatem
    quaerat autem illo nisi veniam provident eligendi nesciunt suscipit
    reiciendis!
  </div>
</header>
