<div class="post">
  <div class="card">
    <div class="heading">
      <h2 align="center">Create Post</h2>
    </div>
    <% if(errors){ %>
    <div class="errors">
      <ul>
        <% errors.forEach(e=>{%>
        <li><%= e.msg %></li>
        <%}) %>
      </ul>
    </div>
    <% } %>
    <form action="/update-post/<%=data.post_id%>" method="post">
      <div class="group">
        <label for="">Title</label>
        <input
          type="text"
          name="title"
          class="control"
          value="<% if(data) {%><%=data.title %><% } %>"
        />
      </div>
      <div class="group">
        <label for="">Body</label>
        <textarea name="body" class="control">
<% if(data) {%><%=data.body %><% } %></textarea
        >
      </div>
      <div class="group">
        <input type="submit" value="Create Post" class="btn btn-success" />
      </div>
    </form>
  </div>
</div>
