<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/header.ejs')%>
  </head>
  <body>
    <%- include('components/navbar.ejs')%> <%-
    include('components/signin.ejs')%>
  </body>
</html>
